body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.music-player {
    width: 300px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.controls button {
    font-size: 20px;
    background-color: #3498db;
    border: none;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.song-info {
    margin-top: 20px;
    text-align: center;
}

.progress {
    height: 5px;
    background-color: #ccc;
    margin-top: 20px;
}

.progress-bar {
    height: 100%;
    background-color: #3498db;
}
